<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Macchiato.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45BDCB041C55DB4200A2FE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BDCB1D1C55DB4200A2FE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BDCB281C55DB4200A2FE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
